*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start,#end{
width: 15vw;
margin: auto;
margin-top: 100px;
height: 10vh;
font-size: 2rem;
cursor: pointer;
border: none;
border-radius: 5px;
outline: none;
}